.pagess{
    justify-content: center;
    display: flex;
    align-items: center;
    width: auto!important;
    height: calc(100vh - 80px);
}

.login-container {
    padding: 0;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #fff;
}

input {
    background: transparent;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
} */
.login-container h2{
    align-items: center;
    justify-content: center;
    display: flex;
    color: #fff;
    font-weight: 500;
}

.flex{
    display: flex;
    align-items: center;
    width: 250px;
}

input{
    height: 16px;
    margin-left: auto;
}

.bor{
    border: 1px solid #fff;
}

.bt{
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

button{
    width: -webkit-fill-available;
    background: transparent;
    color: #fff;
    font-weight: 500;
}
