header{
    height: 70px;
    border-bottom: 1px solid var(--infopro-col);
    display: flex;
    width: auto;
    justify-content: space-between;
}

header .logos{
    display: flex;
    padding: 10px;
}

.right{
    display: flex;
    align-items: center;
}

ul.header{
    text-align: end;
    border-right: 1px solid var(--infopro-col);
    padding-right: 5px;
    padding-inline-start: 0;
}

li{
    list-style-type: var(--n);
}

.button{
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    margin-left: 10px;
}

.button a{
    display: flex;
    align-items: center;
}

#profilePic{
    border-radius: 100px;
    margin-right: 10px;
    width: 32px;
    height: 32px;
}
#userProfile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
}

.right #profilePic,
.right #userProfile,
.right button{
    margin: 10px;
    margin-right: 0px !important;
}

.right button{
    padding: 0;
    border: none;
    background: transparent;
    color: var(--infopro-col);
}

.right button:hover{
    text-decoration: underline;
}

/* LOGO */

@media (max-width: 570px) {
    .mainlogo {
        content: url('https://i.postimg.cc/BZkHV2xP/image.png');
    }
}

@media (max-width: 445px) {
    .header {
      border-right: 1px solid transparent !important;
    }
  
    .button {
      display: none;
    }
  }
